body {
    background: aqua;
}

.header {
    background-color: orange;
    color: white;
    padding: 20px;
    float: left;
    margin-bottom: 10px;
}

.instructions {
    background-color: bisque;
    color: green;
    float: left;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.randomNumber {
    background-color: greenyellow;
    color: purple;
    padding: 15px;
    float: left;
    width: 20%;
    height: 115px;
    margin-top: 10px;
    text-align: center;
}

.winsLosses {
    background-color: teal;
    color: black;
    display: inline;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    height: 115px;
    width: 15%;
    padding: 15px;
}

.crystals {
    display: inline-block;
    width: 80%;
}

.yourScore {
    background-color: teal;
    color: white;
    float: left;
    text-align: center;
    width: 20%;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
}

.counter {
    color: white;
    background-color: teal;
    padding: 20px;
    float: left;
    width: 85%;
    margin-top: 10px;
}